.vs/DistrictRCI/v15/.suo
.vs/DistrictRCI/v15/sqlite3/storage.ide
bin/Debug/Assembly-CSharp.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/ColossalManaged.dll
bin/Debug/DistrictRCI.dll
bin/Debug/DistrictRCI.pdb
bin/Debug/ICities.dll
bin/Debug/ICSharpCode.SharpZipLib.dll
bin/Debug/PopsApiWrapper.dll
bin/Debug/UnityEngine.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DistrictRCI.csproj.CopyComplete
obj/Debug/DistrictRCI.csproj.CoreCompileInputs.cache
obj/Debug/DistrictRCI.csproj.FileListAbsolute.txt
obj/Debug/DistrictRCI.dll
obj/Debug/DistrictRCI.pdb
