.vs/DistrictRCI/v15/.suo
.vs/DistrictRCI/v15/sqlite3/storage.ide
bin/Debug/Assembly-CSharp.dll
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/ColossalManaged.dll
bin/Debug/DistrictRCI.dll
bin/Debug/DistrictRCI.pdb
bin/Debug/ICities.dll
bin/Debug/ICSharpCode.SharpZipLib.dll
bin/Debug/PopsApiWrapper.dll
bin/Debug/UnityEngine.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DistrictRCI.csproj.CopyComplete
obj/Debug/DistrictRCI.csproj.CoreCompileInputs.cache
obj/Debug/DistrictRCI.csproj.FileListAbsolute.txt
obj/Debug/DistrictRCI.dll
obj/Debug/DistrictRCI.pdb
bin/Release/Assembly-CSharp.dll
bin/Release/Assembly-CSharp-firstpass.dll
bin/Release/ColossalManaged.dll
bin/Release/DistrictRCI.dll
bin/Release/DistrictRCI.pdb
bin/Release/ICities.dll
bin/Release/ICSharpCode.SharpZipLib.dll
bin/Release/PopsApiWrapper.dll
bin/Release/UnityEngine.dll
obj/Debug/DistrictRCI.csprojResolveAssemblyReference.cache
obj/Release/DistrictRCI.csproj.CopyComplete
obj/Release/DistrictRCI.csproj.CoreCompileInputs.cache
obj/Release/DistrictRCI.csproj.FileListAbsolute.txt
obj/Release/DistrictRCI.dll
obj/Release/DistrictRCI.pdb
.vs/DistrictRCI/v15/Server/sqlite3/db.lock
.vs/DistrictRCI/v15/Server/sqlite3/storage.ide
.vs/DistrictRCI/v15/sqlite3/db.lock
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
